style.css

body,html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	color: #6B7A8F;
	transition: .2s linear;
} 

/*INDEX PAGE*/

.home-page-wrapper {
	width: 100%;
	height: 100%;
  display: flex;
}

#navbar {
width: 100%;
height: 100%;
font-family: 'Mukta', sans-serif;
position: fixed;
  display:flex;
  flex: 0;
  justify-content:space-between;
}

.flex_right {
  justify-content:flex-end;
  display:flex;
  margin-right:40px;
}

.navbar-item {
    display: inline-block;
    margin-top: 40px;
    margin-left: 45px;
    text-decoration: none;
    padding-bottom: 3px;
transition: .2s linear;
color: #3f3f3f;
font-size: 18px;
flex:0;
}

.navbar-item: hover {
border-bottom: 1.5px solid currentColor;
cursor: pointer;
transition: .2s linear;
}

#current-navbar-item {
color: #3f3f3f;
border-bottom: 2px solid currentColor;
line-height: 15px;
}

#work-navbar-item {
color: #3f3f3f;
line-height: 15px;
z-index: 5;
line-height: 15px;
  order:1; 
}

#about-navbar-item {
color: #3f3f3f;
line-height: 15px;
z-index: 5;
  order:2;
}

#resume-navbar-item {
color: #3f3f3f;
line-height: 15px;
float:right;
z-index: 5;
  order:3;
}

#container {
	width: 100%;
	margin-right: 40px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
  flex: 1;
}

#intro {
	font-family: 'Mukta', sans-serif;
	font-weight: 800;
	font-size: 34px;
	line-height: 36px;
	margin-top: 10%;
	float: left;
	animation-name: fade-in-from-top;
	animation-duration: 2s;
}

@keyframes fade-in-from-top {
from { opacity: 0; margin-top: -30%; }
to { opacity: 1; margin-bottom: -30%; }
}

#footer {
	width: 100%;
	height: 40px;
	padding-bottom: 20px;
	padding-top: 20px;
	font-family: 'Mukta', sans-serif;
	bottom: 0;
	z-index: 5;
	background-color: white;
  flex:0;
  position: absolute;
}


.footer-icon {
	font-size: 14px;
	display: inline-block;
	float: right;
	margin-right: 55px;
	z-index: 5;
	text-decoration: none;
	color: #3f3f3f;
}

/* About Page */

.about-content-wrapper{
	width: 100%;
	height: 100%;
}

.about-content{
	font-family: 'Mukta', sans-serif
	font-size: 14px;
	line-height: 16px;
	display: flex;
	color: #272726;
}

#description {
	font-family: 'Mukta', sans-serif
	font-size: 14px;
	line-height: 16px;
	height: 80vh;
	color: #272726;
	float: left;
}

#description-intro {
	font-family: 'Mukta', sans-serif
	font-size: 16px;
	color: #272726;
}


